@font-face {
  font-family: 'football';
  src:  url('fonts/football.eot?xgwzd9');
  src:  url('fonts/football.eot?xgwzd9#iefix') format('embedded-opentype'),
    url('fonts/football.ttf?xgwzd9') format('truetype'),
    url('fonts/football.woff?xgwzd9') format('woff'),
    url('fonts/football.svg?xgwzd9#football') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'football' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
  content: "\e900";
}
.icon-right-arrow:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-music:before {
  content: "\e905";
}
.icon-player:before {
  content: "\e906";
}
.icon-quotes:before {
  content: "\e907";
}
.icon-shapes:before {
  content: "\e908";
}
.icon-signs:before {
  content: "\e909";
}
.icon-sport:before {
  content: "\e90a";
}
.icon-sports:before {
  content: "\e90b";
}
.icon-sports-1:before {
  content: "\e90c";
}
.icon-sports-2:before {
  content: "\e90d";
}
.icon-sports-3:before {
  content: "\e90e";
}
.icon-sports-4:before {
  content: "\e90f";
}
.icon-circle:before {
  content: "\e910";
}
.icon-fashion:before {
  content: "\e911";
}
.icon-social:before {
  content: "\e912";
}
.icon-interface:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e914";
}
.icon-heart:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-twitter-logo-silhouette:before {
  content: "\e917";
}
.icon-instagram-symbol:before {
  content: "\e918";
}
.icon-pinterest-logo:before {
  content: "\e919";
}
.icon-map-marker-point:before {
  content: "\e91a";
}
.icon-american-football-player:before {
  content: "\e91b";
}
.icon-football-helmet:before {
  content: "\e91c";
}

